div.inner {
  padding: 10px;
  margin: 2px;
}
div.inner p {
  margin: 0;
}
.red {
  border: 3px solid red;
}
.green {
  border: 3px solid green;
}
.task {
  padding: 10px;
  border-radius: 10px;
}
.img-to-left {
  float: left;
  padding: 0 10px 10px 0;
}
#people {
  font-family: Helvetica, Arial, sans-serif;
}
.highlight {
  background-color: yellow;
}